<div class="items-sell">
  <header class="header">
    <a href="/"><img src="/assets/logo.png" width="185" height="50"></a>
  </header>

  <div class="main">
    <h2 class="items-info-title">商品の情報を入力</h2>
  <%= form_with model: @item , local: true do |f| %>
    <div class="img-upload">
      <div class="text">
        出品画像
      <span class="require">必須</span>
      </div>
      <div>
        <p class="click-upload">
          クリックしてファイルをアップロード
        </p>
        <div>
          <%= f.file_field :image %>
        </div>
      </div>
    </div>
    <div class="new-items">
      <div>
        <div class="items-name">
          商品名
        <span class="require">必須</span>
        </div>
        <%= f.text_area :name, class:"items-text", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      </div>
      <div class="items-explain">
        <div class="items-name">
          商品の説明
        <span class="require">必須</span>
        </div>
        <%= f.text_area :info, class:"items-text", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <div class="items-detail">
      <div class="text">商品の詳細</div>
      <div class="form">
        <div>
          <div class="text">
            カテゴリー
          <span class="require">必須</span>
          </div>
          <div class="items-select">
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form"}) %>
          </div>
        </div>
        <div class="items-status-box">
          <div class="text">
            商品の状態
          <span class="require">必須</span>
          </div>
          <div class="items-select">
            <%= f.collection_select(:status_id, Status.all, :id, :example, {}, {class:"form"}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="delivery">
      <div class="info">
        <div class="text">配送について</div>
        <a class="question" href="/">?</a>
      </div>
      <div class="form">
        <div>
          <div class="text">
            配送料の負担
          <span class="require">必須</span>
          </div>
          <div class="items-select">
            <%= f.collection_select(:shipping_fee_id, ShippingFee.all, :id, :fee, {}, {class:"form"}) %>
          </div>
        </div>
        <div class="delivery-select-form">
          <div class="text">
            発送元の地域
          <span class="require">必須</span>
          </div>
          <div class="items-select">
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form"}) %>
          </div>
        </div>
        <div class="delivery-select-form">
          <div class="text">
            発送までの日数
          <span class="require">必須</span>
          </div>
          <div class="items-select">
            <%= f.collection_select(:delivery_date_id, DeliveryDate.all, :id, :date, {}, {class:"form"}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="price">
      <div class="info">
        <div class="text">販売価格(¥300〜9,999,999)</div>
        <a class="question" href="/">?</a>
      </div>
      <ul class="price-box">
        <li class="right">
          <div class="label">
            価格
          <span class="require">必須</span>
          </div>
          <p class="mark">¥</p>
          <div>
            <%= f.text_area :price, class:"price-input", placeholder:"例）300" %>
          </div>
        </li>
        <li class="right-box">
          <p>
            販売手数料 (10%)
          </p>
        </li>
        <li class="right-box">
          <p>
            販売利益
          </p>
        </li>
      </ul>
    </div>
    <div class="caution">
      <div class="box">
        <p class ="sentence">
          <a href="#">禁止されている出品、</a>
          <a href="#">行為</a>
          を必ずご確認ください。
        </p>
        <p class ="sentence">
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          <a href="#">偽ブランドの販売</a>
          は犯罪であり処罰される可能性があります。
        </p>
        <p class ="sentence">
          また、出品をもちまして
          <a href="#">加盟店規約</a>
          に同意したことになります。
        </p>
      </div>
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <div class="return-btn">
        <%=link_to 'もどる', root_path, class:"gray" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<footer class="items-footer">
  <div class="center">
    <ul class="menu">
      <li>
        <a href="#">プライバシーポリシー</a>
      </li>
      <li>
        <a href="#">フリマ利用規約</a>
      </li>
      <li>
        <a href="#">特定商取引に関する表記</a>
      </li>
    </ul>
    <div class="logo">
      <a href="/"><img src="/assets/logo.png" width="185" height="50"></a>
    </div>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </div>
</footer>