<%= render "shared/header" %>
<div class='main' id="detailed-search-wrapper">

  <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>

    <div class="search-field">
      <%= f.label :name, '商品名' %>
      <br>
      <%= f.text_field :name_or, placeholder: '商品名', value: params[:q]&.dig(:name) %>
    </div>

    <div class="search-field">
      <%= f.label :user_nickname_cont, '出品者名' %>
      <br>
      <%= f.text_field :user_nickname_cont, placeholder: '出品者名' %>
    </div>

    <div class="search-field">
      <%= f.label :category_id_in, 'カテゴリ' %>
      <br>
      <%= f.collection_check_boxes :category_id_in, Category.all, :id, :name, {include_blank: "---"} %>
    </div>

    <div class="search-field">
      <%= f.label :sales_status_id_eq, '状態' %>
      <br>
      <%= f.collection_select :sales_status_id_eq, SalesStatus.all, :id, :example, {include_blank: "---"} %>
    </div>

    <div class="search-field">
      <%= f.label :shipping_fee_status_id_eq, '送料負担' %>
      <br>
      <%= f.collection_select :shipping_fee_status_id_eq, ShippingFeeStatus.all, :id, :fee, {include_blank: "---"} %>
    </div>

    <div class="search-field">
      <%= f.label :scheduled_delivery_id_eq, '発送日目安' %>
      <br>
      <%= f.collection_select :scheduled_delivery_id_eq, ScheduledDelivery.all, :id, :date, {include_blank: "---"} %>
    </div>

    <div class="search-field">
      <%= f.label :prefecture_id_eq, '発送元地域' %>
      <br>
      <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: "---"} %>
    </div>

    <div class="search-field">
      <%= f.label :price_gteq, '価格'%>
      <br>
      <%= f.number_field :price_gteq %>
      <br>
      ～
      <br>
      <%= f.number_field :price_lteq %>
    </div>
    <%= f.submit '検索' %>
  <% end %>

  <%# 商品一覧 %>
  <div class='item-contents' id="detailed-search-result-wrapper">
    <%= link_to '新規投稿商品', new_item_path, class: "subtitle" %>
    <ul class='item-lists' id="detailed-search-result">
      <% if @items[0] != nil%>
        <% @items.each do |item|%>
          <li class='list'>
            <%= link_to item_path(item.id) do %>
              <div class='item-img-content'>
                <%= image_tag item.images[0], class: "item-img" %>
                <%# sold outの表示 %>
                <% if item.item_transaction != nil %>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
                <% end %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= item.name %>
                </h3>
                <div class='item-price'>
                  <span><%= item.price %>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star-icon.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>

    </ul>
  </div>
  <%# //商品一覧 %>
</div>
<a href="/items/new">
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </div>
</a>

<%= render "shared/footer" %>