<%= render "layouts/header" %>

<div class="item-show">
  <div class="main">
    <div class="container">
      <div class="item-box">
        <h2 class="name">
          <%= @item.name %>
        </h2>
        <div class="item-img-box">
          <%= image_tag @item.image ,class:"item-img" %>
        </div>
        <div class="item-price-box">
          <p class="item-price">
            ¥ <%= @item.price %>
          </p>
          <p class="item-postage">
            (税込) 送料込み
          </p>
        </div>
        <div class="item-purchase">
          <a href="#">購入画面に進む</a>
        </div>
        <div class="item-explain-box">
          <%= @item.info %>
        </div>
        <div class="detail-table-box">
          <table class="detail-table">
            <tbody>
              <tr>
                <th class="detail">出品者</th>
                <td class="seller"><%= current_user.nickname %></td>
              </tr>
              <tr>
                <th class="detail">カテゴリー</th>
                <td class="seller"><%= @item.category.name %></td>
              </tr>
              <tr>
                <th class="detail">商品の状態</th>
                <td class="seller"><%= @item.status.example %></td>
              </tr>
              <tr>
                <th class="detail">配送料の負担</th>
                <td class="seller"><%= @item.shipping_fee.fee %></td>
              </tr>
              <tr>
                <th class="detail">発送元の地域</th>
                <td class="seller"><%= @item.prefecture.name %></td>
              </tr>
              <tr>
                <th class="detail">発送日の目安</th>
                <td class="seller"><%= @item.delivery_date.date %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="option">
          <div class="favorite-btn">
            <%= image_tag "star-icon.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
            <span>お気に入り 0</span>
          </div>
          <div class="report-btn">
            <a href="#">
            <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
              <span>不適切な商品の通報</span>
            </a>
          </div>
        </div>
      </div>
      <div class="comment-box">
        <form>
          <textarea class="comment-text"></textarea>
          <p class="comment-warn">
            相手のことを考え丁寧なコメントを心がけましょう。
            <br>
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          </p>
          <button type="submit" class="comment-btn">
            <div class="comment-flag">
              <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
              <span>コメントする<span>
            <div>
          </button>
        </form>
      </div>
      <div class="links">
        <div class="next-item">
          <a href="#">
            ＜ 前の商品
          </a>
        </div>
        <div class="next-item">
          <a href="#">
            後ろの商品 ＞
          </a>
        </div>
      </div>
      <div class="another-item">
        <a href="#">ハンドメイドをもっと見る</a>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>